<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style-new.css">
</head>
<body>

  <header class="ulo">
        <div class="tara">
          <a href="/index.html"><img src="/assets/bago-logo1.png" class="logo-ko" alt="Logo"></a>
          <img src="/assets/dnd.png" class="dnd">
        </div>
        
        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    
        <nav id="nav-menu">
            <a href="/index.html">Home</a>
            <a href="/blog1.html">Blog</a>
            <a href="/news.html">News</a>
            <a href="/review.html">Gear Review</a>
            <a href="/try.html">Trails</a>
            <a href="/aboutme.html">About Me</a>
            <a href="contact.html">Contact Me</a>
        </nav>
    </header>
  
    <hr>

    <main>
      {{ content }}

      {% if page.comments == true %}
      <section class="comments-container" style="margin-top: 50px; padding: 20px; border-top: 1px solid #ddd;">
        <h2 class="trail-talk-title">Trail Talk</h2>
        {% include disqus_comments.html %}
      </section>
      {% endif %}
    </main>
                
    <hr>

    <footer>
        <p>&copy; {{ "now" | date: "%Y" }} Joniel Rocio | Dirt & Distance. All rights reserved.</p>
        <p>Every word and photo here was crafted with care. Please ask before sharing!</p>
        <div id="Hikers"></div>
    </footer>

    <script>
    function toggleMenu() {
        const navMenu = document.getElementById('nav-menu');
        if (navMenu) {
            navMenu.classList.toggle('active');
        }
    }

    const counterDiv = document.getElementById('Hikers');
    if (counterDiv) {
      
      const cacheBuster = new Date().getTime();
      
      counterDiv.innerHTML = `
        <a href="https://github.com/jonielrocio/jonielrocio.github.io">
          <img src="https://komarev.com/ghpvc/?username=jonielrocio&repo=jonielrocio.github.io&color=F58426&style=flat-square&label=Hikers" alt="Visitor Count">
        </a>`;
    }
    </script>

</body>
</html>
